%body
  = render "header"
  %h1 calender.space
%br/
= link_to 'New Event', new_event_path,class:"new-event"
= link_to 'Home Calendar', root_path,class:"home"

%h2 calender
#calendar

= render "footer"