.edit-event{
  min-height:calc(100vh - 9rem);
  .field{
    margin-top: 20px;
  }
  .start {
    color: #00bcd4;
    font-weight: 600;
    #event_start_date_1i {
      height: 35px;
      width: 65px;
      margin: 0 0 0 10px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_start_date_2i {
      height: 35px;
      width: 100px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_start_date_3i {
      height: 35px;
      width: 40px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_start_date_4i {
      height: 35px;
      width: 45px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_start_date_5i {
      height: 35px;
      width: 45px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
  }
  .end {
    color: #00bcd4;
    font-weight: 600;
    #event_end_date_1i {
      height: 35px;
      width: 65px;
      margin: 0 0 0 10px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_end_date_2i {
      height: 35px;
      width: 100px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_end_date_3i {
      height: 35px;
      width: 40px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_end_date_4i {
      height: 35px;
      width: 45px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
    #event_end_date_5i {
      height: 35px;
      width: 45px;
      font-size: 14px;
      background: #24d8f0;
      color: #fff;
      font-weight: 600;
    }
  }
}


.edit-h1 {
  position: relative;
  color: blue;
  font-size: 2.5em;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
  margin: 30px auto;
  text-align: center;
  opacity: 0;
  animation: appear 2s 1s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.edit-button {
  height: 60px;
  margin-top: 30px;
  .show-button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    margin-right: 10px;
    &:hover {
      background: #00bcd4;
      color: white;
    }
  }
  .back-button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    margin-left: 10px;
    &:hover {
      background: #00bcd4;
      color: white;
    }
  }
}