body, html {
  padding: 0;
  margin: 0;
  text-align: center;
}


h1 {
  padding-top: 60px;
  margin: 0;
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  color: rgb(216, 21, 95);
}

h2 {
  color: #67c5ff;
}

.botton {
  margin-top: 10px;
}

.show {
  display: inline-block;
  padding: 7px 20px;
  margin-right: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  &:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
}

.edit {
  display: inline-block;
  padding: 7px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  &:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
}

.destroy {
  display: inline-block;
  padding: 7px 20px;
  margin-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  &:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
}

.new-event {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;/*高さ*/
  width: 120px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 40px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  &:hover {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    display:inline-block;
    transition: .5s;
  }
}

.home {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;/*高さ*/
  width: 120px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 40px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  &:hover {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    display:inline-block;
    transition: .5s;
  }
}


.fc-left h2 {
  font-weight: normal;
}
.fc-widget-header th {
  background-color: #f8dbc6;
}
th.fc-day-header, th.fc-widget-header {
  color: #550000;
  font-size: 14px;
  font-weight: normal;
}
.fc-sun > span {
  color: #cd384b;
}
.fc-sat > span {
  color: #415ea6;
}
td.fc-sun {
  background-color: #fae6e3;
}
td.fc-sat {
  background-color: #dceef7;
}
.fc-unthemed .fc-content, 
.fc-unthemed .fc-divider, 
.fc-unthemed .fc-list-heading td, 
.fc-unthemed .fc-list-view, 
.fc-unthemed .fc-popover, 
.fc-unthemed .fc-row, 
.fc-unthemed tbody, 
.fc-unthemed td, 
.fc-unthemed th, 
.fc-unthemed thead {
  border-color: #d1ccd9;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}